<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookingroom.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookingroom.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/OTAStyleOne.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=PT+Serif&family=Source+Serif+4:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark mai-top-header">
            <div class="container">
                <div>
                    <a class="navbar-brand"><img src="/img/LogoHeader.png"></a>
                </div>
                <div>
                    <button type="button" class="btn btn-dark"><a asp-action="Login" asp-controller="Account">Войти</a></button>
                    <button type="button" class="btn btn-dark"><a asp-action="Register" asp-controller="Account">Регистрация</a></button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
