@model Bookingroom.MVC.ViewModel.LoginModel
 
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
   <body class="mai-splash-screen">
    <div class="mai-wrapper mai-login">
      <div class="main-content container">
        <div class="splash-container row">
          <div class="col-md-6 user-message">
              <span class="splash-message text-right FonsFamaly">Привет!<br>рад снова<br>тебя видеть</span>
          </div>
          <div class="col-md-6 form-message">
              <img class="logo-img mb-4" src="/img/LogoLogReg.png" alt="logo" width="199" height="93">
              <span class="splash-description text-center mt-5 mb-5 FonsFamaly">Войдите в свою аккаунт</span>
              <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><img src="/img/icons8-новое-письмо-20.png"></img></div>
                <input asp-for="Email" class="form-control FonsFamaly" id="username" type="text" placeholder="Логин" autocomplete="off">
                <span asp-validation-for="Email" />
              </div>
            </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><img src="/img/icons8-разблокировать-частный-20.png"></img></div>
                  <input asp-for="Password" class="form-control FonsFamaly" type="password" placeholder="Пароль">
                  <span asp-validation-for="Password" />
                </div>
              </div>
              <div class="form-group login-submit"><input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block" data-dismiss="modal"></input></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</form>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}